# Alembic migrations.
app/alembic/versions/*.py
!app/alembic/versions/__init__.py

# Celery.
celerybeat-schedule

# Environment.
.env
venv/

# Local messages
app/email_messages_debug/*
!app/email_messages_debug/__init__.py

# Python cache.
__pycache__/
.pyc
